@charset "UTF-8";

.generateGoogleJsonpUri_table{border-style:solid;border-width:1px 0px 0px 1px;border-color:#888;background-color:#fafafa;}
.generateGoogleJsonpUri_table tr{ margin:0px;padding:0px; }
.generateGoogleJsonpUri_table td{padding:0px;text-align:center;border-style:solid;border-width:0px 1px 1px 0px;border-color:#888;}
.generateGoogleJsonpUri_cells_range_01{ background-color:pink;}
.generateGoogleJsonpUri_cells_range_02{ background-color:lightgreen;}
